<h1>Title: {{voting.votingTitle}}</h1>
<h6>Create Time: {{voting.createTime}}</h6>
<h6>Creator: {{voting.user.username}}</h6>
<p>Description: {{voting.description}}</p>
<p>Required Number of Participants：{{voting.partyCount}}</p>
<a href="/votings/vote/{{voting._id}}">Vote</a>
<a href="/users/dashboard">Dashboard</a>
<a href="/users/logout">Log Out</a>
