<h1>Welcome to Voting</h1>
<h3>Welcome {{username}}</h3>
    <h1>Connect to JIFFClient</h1>
    <label for="computation_id">Computation ID</label><input id="computation_id" value="{{voting.user._id}}: {{voting._id}}" readonly="readonly"></input><br/><br/>
    <label for="count">Party Count<label> <input id="count" value="{{voting.partyCount}}" readonly="readonly"><br/><br/>
    <button id="connectButton" onclick="connect();">Connect</button>
    <br/><br/>
    <hr/>
    <h1>{{voting.votingTitle}}</h1>
    <input id="option_array" value="{{voting.options}}" style="display:none"/>
    <script>
         var str = $('#option_array').val();
         var arr = str.split(',');
         for(var i=0; i<arr.length;i++){
             document.write('<label><input type="radio" name="option"/>'+arr[i]+'</label><br/>');
         }
    </script>
    <br/>
    <button onclick="submit();" disabled="disabled" id="button">Vote</button><br/>
    <div id="output"></div>
<a href="/users/dashboard">Dashboard</a>
<a href="/users/logout">Log Out</a>