<main>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="container">
        <div class="card white">
            <h3 style="padding-top: 35px;" class="light-blue-text text-darken-2 center"><i class="fas fa-edit"></i>
                Topic Editor</h3><br />
            <div class="message_area" style="margin-left: 10px; margin-right: 10px;">
                {{#if flash_success_message}}
                <div class="success_msg">
                    <span class="closebtn-s" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_success_message}}
                </div>
                {{/if}}
                {{#if flash_error_message}}
                <div class="error_msg">
                    <span class="closebtn-e" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_error_message}}
                </div>
                {{/if}}
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <br />
                <div class="center" style="position: relative;">
                    <h6 class="light-blue-text text-darken-3"><img class="circle" src={{topic.avatar}}
                            style="vertical-align:middle"></h6>
                    <a href="/community/topics/upload/{{topic._id}}" style="position: absolute; top: 45%; left: 51%;"
                        class="btn-floating btn-small waves-effect waves-light red lighten-2"><i
                            class="fas fa-pencil-alt"></i></a>
                    <h6 class="light-blue-text text-darken-3"><strong>{{topic.topicName}}</strong></h6>
                </div><br />
                <div class="row col s12">
                    <!-- Add a blank line -->
                </div>
                <div class="row col s12">
                    <!-- Add a blank line -->
                </div>
                <div class="row col s12">
                    <!-- Add a blank line -->
                </div>
                <div class="row col s12">
                    <!-- Add a blank line -->
                </div>
                <div class="col s12">
                    <p><span class="red-text"><strong>All</strong></span> fields are required</p><br /><br />
                </div>
                <div class="edit_form">
                    <form id="topic_edit" action="/community/topics/edit" method="POST">
                        <input type="hidden" id="topicid" name="topicid" value={{topic._id}} required>
                        <div class="input-field">
                            <textarea placeholder="At least 50 characters" id="tdescription" name="description"
                                onblur="checkTDes()" onfocus="checkTDes()" onchange="checkTDes()"
                                class="materialize-textarea validate" required>{{topic.description}}</textarea>
                            <label for="tdescription">Topic Description</label>
                            <span class="helper-text" data-error="Please fill in this field or check your format"
                                data-success="Input completed"></span>
                        </div><br /><br />
                        <div class="row center">
                            <div class="col s6">
                                <a href="#modal1" id="tcancel-button"
                                    class="waves-effect waves-light blue lighten-1 btn modal-trigger"><strong>Cancel</strong></a>
                            </div>
                            <div class="col s6">
                                <a href="#modal2" id="tupdate-button"
                                    class="waves-effect waves-light blue lighten-1 btn modal-trigger"><strong>Update</strong></a>
                            </div>
                            <div id="modal1" class="modal">
                                <div class="modal-content">
                                    <h4 class="light-blue-text text-darken-2 center">Cancel Edit</h4><br />
                                    <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to cancel this
                                            edit? Please be informed that your work won't be saved.</strong></h6>
                                </div>
                                <div class="divider"></div>
                                <div class="modal-footer">
                                    <div class="col s6">
                                        <a href="#"
                                            class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                    </div>
                                    <div class="col s6">
                                        <a href="/community/topics/mytopics"
                                            class="modal-close waves-effect waves-green btn-flat"><strong>Yes</strong></a>
                                    </div>
                                </div>
                            </div>
                            <div id="modal2" class="modal">
                                <div class="modal-content">
                                    <h4 class="light-blue-text text-darken-2 center">Confirm Update</h4><br />
                                    <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to update the
                                            information of this
                                            topic? Please confirm it again.</strong></h6>
                                </div>
                                <div class="divider"></div>
                                <div class="modal-footer">
                                    <div class="col s6">
                                        <a href="#"
                                            class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                    </div>
                                    <div class="col s6">
                                        <button class="modal-close waves-effect waves-green btn-flat" id="submit"
                                            type="submit"><strong>Yes</strong></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
</main>