<main>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="container">
        <div class="card white">
            <h3 style="padding-top: 35px; margin-right: 20px;" class="center cyan-text text-darken-2"><a
                    style="float: left; margin-top: 5px; margin-left: 20px;" href="/community/groups"
                    class="btn-floating waves-effect waves-light blue lighten-1"><i
                        class="fas fa-arrow-left"></i></a>{{group.groupName}}</h3><br />
            <div class="message_area" style="margin-left: 10px; margin-right: 10px;">
                {{#if flash_success_message}}
                <div class="success_msg">
                    <span class="closebtn-s" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_success_message}}
                </div>
                {{/if}}
                {{#if flash_error_message}}
                <div class="error_msg">
                    <span class="closebtn-e" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_error_message}}
                </div>
                {{/if}}
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <br />
                <div class="row">
                    <div class="col s12"
                        style="background-color: #ffebee; border-width: 2px; border-style: solid; border-color: #bbdefb; height: 250px; overflow: auto;">
                        <p class="center col s12" style="margin-top: 12px;"><img class="circle" src="{{group.avatar}}"
                                style="height: 100px; width: 100px;"></p>
                        <div class="col s6 offset-s3">
                            <p class="center" style="margin-top: 10px;"><strong>Group Description</strong></p>
                            <p style="text-align:justify; line-height: 2.0;">{{group.description}}</p>
                        </div>
                    </div>
                    <div class="col s12"
                        style="background-color: #e8f5e9; border-width: 2px; border-style: solid; border-color: #bbdefb; height: 50px; overflow: auto;">
                        <p class="black-text col s6 center" style="margin-top: 10px;"><strong>Group
                                Creator:&nbsp;</strong>
                            {{group.creator.firstName}} {{group.creator.lastName}}</p>
                        <p class="black-text col s6 center" style="margin-top: 10px;"><strong>Creation Date and
                                Time:&nbsp;</strong>
                            {{formatDate group.createTime 'MMMM Do YYYY, h:mm:ss a'}}</p>
                    </div>
                    <div class="col s9"
                        style="background-color: #e8eaf6; border-width: 2px; border-style: solid; border-color: #bbdefb; height: 800px; overflow: auto;">
                        <div class="row col s12">
                            <!-- Add a blank line -->
                        </div>
                        <h6 class="light-blue-text text-darken-2 center"><strong><i
                                    class="fas fa-mail-bulk"></i>&nbsp;POSTS</strong></h6><br />
                        {{#if group.posts}}
                        {{#each group.posts}}
                        <div class="col s12 m12">
                            <div class="card cyan lighten-5 hoverable">
                                <div class="card-content">
                                    <div class="valign-wrapper">
                                        <span class="indigo-text text-darken-2">{{#if
                                            relatedVoting}}Voting{{else}}Survey{{/if}} Posted by </span><img
                                            style="margin-left: 10px; margin-right: 10px;" class="circle"
                                            src="{{sender.avatar}}"><a href="/users/profile/{{sender._id}}"
                                            class="indigo-text text-darken-2"><u>{{sender.firstName}}
                                                {{sender.lastName}}</u>:</a>
                                    </div><br />
                                    <p class="grey-text text-darken-2">{{formatDate emitTime 'MMMM Do YYYY, h:mm:ss a'}}
                                    </p>
                                    <br />
                                    <p style="text-align: justify;" class="black-text">{{content}}</p><br />
                                    <div class="card white">
                                        {{#if relatedVoting}}
                                        <p class="black-text" style="padding-left: 10px; padding-top: 20px;">
                                            <strong>Voting Title:
                                            </strong>{{relatedVoting.votingTitle}}
                                        </p><br />
                                        <p class="black-text"
                                            style="text-align: justify; padding-left: 10px; padding-top: 10px;">
                                            <strong>Description:
                                            </strong>{{relatedVoting.description}}
                                        </p><br />
                                        {{else}}
                                        <p class="black-text" style="padding-left: 10px; padding-top: 20px;">
                                            <strong>Survey Title:
                                            </strong>{{relatedSurvey.surveyTitle}}
                                        </p><br />
                                        <p class="black-text"
                                            style="text-align: justify; padding-left: 10px; padding-top: 10px;">
                                            <strong>Description:
                                            </strong>{{relatedSurvey.description}}
                                        </p><br />
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="card-action">
                                    {{#if relatedVoting}}
                                    <div class="center"><a
                                            href="/users/voting/published/view/{{relatedVoting._id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                    {{else}}
                                    <div class="center"><a
                                            href="/users/surveys/published/view/{{relatedSurvey._id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <p class="center">Currently no post here</p><br />
                        {{/if}}
                    </div>
                    <div class="col s3"
                        style="background-color: #e3f2fd; border-width: 2px; border-style: solid; border-color: #bbdefb; height: 800px; overflow: auto;">
                        <div class="row col s12">
                            <!-- Add a blank line -->
                        </div>
                        <h6 class="center light-blue-text text-darken-2"><strong><i class="fas fa-users"></i>
                                Members</strong></h6><br />
                        <div class="light-blue-text text-darken-2">
                            {{#each group.members}}
                            <div class="row">
                                <div class="col s12">
                                    <div class="valign-wrapper">
                                        <strong id="member-serialNum{{serialNumber @index}}">{{serialNumber @index}}.
                                        </strong><img style="margin-left: 20px; margin-right: 20px;" class="circle"
                                            src="{{this.avatar}}">
                                        <a href="/users/profile/{{this._id}}"
                                            class="teal-text text-darken-1"><u><strong>{{this.firstName}}
                                                    {{this.lastName}}</strong></u></a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div><br />
                    </div>
                    <div id="all_other_modals">
                        <div id="modalleave" class="modal">
                            <form id="group_leave" action="/community/groups/leave" method="POST">
                                <div class="modal-content">
                                    <h4 class="light-blue-text text-darken-2 center">Confirm Leaving the Group</h4>
                                    <br />
                                    <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to
                                            leave this group? Please enter your password to
                                            confirm.</strong></h6>
                                    <br /><br />
                                    <input type="hidden" id="groupid" name="groupid" value="{{group._id}}" required>
                                    <div class="row">
                                        <div class="input-field col s6 offset-s3">
                                            <input placeholder="Please enter here ..." type="password" data-length="100"
                                                id="gpassword_checkdisband" name="password" onblur="checkGPwd()"
                                                onfocus="checkGPwd()" onchange="checkGPwd()" required>
                                            <label for="password">Password</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <div class="modal-footer">
                                    <div class="col s6">
                                        <a href="#"
                                            class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                    </div>
                                    <div class="col s6">
                                        <button class="modal-close waves-effect waves-green btn-flat"
                                            id="leave-submit" type="submit" disabled><strong>Yes</strong></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="modalpvoting" class="modal">
                            <form id="voting_post" action="/community/groups/post/voting" method="POST">
                                <div class="modal-content">
                                    <h4 class="light-blue-text text-darken-2 center">Post Voting</h4>
                                    <br />
                                    {{#if voting}}
                                    <h6 class="light-blue-text text-darken-2 center"><strong>Please fill all the fields
                                            below first and then click <span class="black-text">YES</span> to post your
                                            voting.</strong></h6>
                                    <br /><br />
                                    <input type="hidden" id="groupidv" name="groupid" value="{{group._id}}" required>
                                    <div class="row">
                                        <div class="input-field col s6 offset-s3">
                                            <select id="mypvoting" name="votingid" required>
                                                <option value="" disabled selected>Please select here ...</option>
                                                {{#each voting}}
                                                <option value="{{this._id}}">{{this.votingTitle}}</option>
                                                {{/each}}
                                            </select>
                                            <label for="mypvoting">My Unpublished Voting</label>
                                        </div>
                                        <div class="row">
                                            <p>&nbsp;</p>
                                        </div>
                                        <div class="input-field col s6 offset-s3">
                                            <textarea placeholder="At most 200 characters" type="text" data-length="200"
                                                id="postcontentv" name="postcontentv" onblur="checkPost1()"
                                                onfocus="checkPost1()" onchange="checkPost1()"
                                                class="materialize-textarea validate" required></textarea>
                                            <label for="postcontentv">Post content</label>
                                            <span class="helper-text"
                                                data-error="Please fill in this field or check your input"
                                                data-success="Input finished"></span>
                                        </div>
                                    </div>
                                    {{else}}
                                    <h6 class="light-blue-text text-darken-2 center"><strong>You do not have any
                                            unpublished voting yet, please click <span class="black-text">CREATE</span>
                                            to
                                            create a new one.</strong></h6>
                                    {{/if}}
                                </div>
                                <div class="divider"></div>
                                <div class="modal-footer">
                                    {{#if voting}}
                                    <div class="col s6">
                                        <a href="#"
                                            class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                    </div>
                                    <div class="col s6">
                                        <button class="modal-close waves-effect waves-green btn-flat" id="postv-submit"
                                            type="submit" disabled><strong>Yes</strong></button>
                                    </div>
                                    {{else}}
                                    <div class="col s6">
                                        <a href="#"
                                            class="modal-close waves-effect waves-red btn-flat"><strong>Back</strong></a>
                                    </div>
                                    <div class="col s6">
                                        <a href="/users/voting/unpublished/create"
                                            class="modal-close waves-effect waves-green btn-flat"><strong>Create</strong></a>
                                    </div>
                                    {{/if}}
                                </div>
                            </form>
                        </div>
                        <div id="modalpsurvey" class="modal">
                            <form id="survey_post" action="/community/groups/post/survey" method="POST">
                                <div class="modal-content">
                                    <h4 class="light-blue-text text-darken-2 center">Post Survey</h4>
                                    <br />
                                    {{#if survey}}
                                    <h6 class="light-blue-text text-darken-2 center"><strong>Please fill all the fields
                                            below first and then click <span class="black-text">YES</span> to post your
                                            survey.</strong></h6>
                                    <br /><br />
                                    <input type="hidden" id="groupids" name="groupid" value="{{group._id}}" required>
                                    <div class="row">
                                        <div class="input-field col s6 offset-s3">
                                            <select id="mypsurvey" name="surveyid" required>
                                                <option value="" disabled selected>Please select here ...</option>
                                                {{#each survey}}
                                                <option value="{{this._id}}">{{this.surveyTitle}}</option>
                                                {{/each}}
                                            </select>
                                            <label for="mypsurvey">My Unpublished Surveys</label>
                                        </div>
                                        <div class="row">
                                            <p>&nbsp;</p>
                                        </div>
                                        <div class="input-field col s6 offset-s3">
                                            <textarea placeholder="At most 200 characters" type="text" data-length="200"
                                                id="postcontents" name="postcontents" onblur="checkPost2()"
                                                onfocus="checkPost2()" onchange="checkPost2()"
                                                class="materialize-textarea validate" required></textarea>
                                            <label for="postcontents">Post content</label>
                                            <span class="helper-text"
                                                data-error="Please fill in this field or check your input"
                                                data-success="Input finished"></span>
                                        </div>
                                    </div>
                                    {{else}}
                                    <h6 class="light-blue-text text-darken-2 center"><strong>You do not have any
                                            unpublished surveys yet, please click <span class="black-text">CREATE</span>
                                            to
                                            create a new one.</strong></h6>
                                    {{/if}}
                                </div>
                                <div class="divider"></div>
                                <div class="modal-footer">
                                    {{#if survey}}
                                    <div class="col s6">
                                        <a href="#"
                                            class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                    </div>
                                    <div class="col s6">
                                        <button class="modal-close waves-effect waves-green btn-flat" id="posts-submit"
                                            type="submit" disabled><strong>Yes</strong></button>
                                    </div>
                                    {{else}}
                                    <div class="col s6">
                                        <a href="#"
                                            class="modal-close waves-effect waves-red btn-flat"><strong>Back</strong></a>
                                    </div>
                                    <div class="col s6">
                                        <a href="/users/surveys/unpublished/create"
                                            class="modal-close waves-effect waves-green btn-flat"><strong>Create</strong></a>
                                    </div>
                                    {{/if}}
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large tooltipped teal darken-1" data-position="left"
                            data-tooltip="Toolbar">
                            <i class="fas fa-tools"></i>
                        </a>
                        <ul>
                            <li><a href="#modalleave" class="btn-floating tooltipped red darken-1 modal-trigger"
                                    data-position="left" data-tooltip="Leave Group"><i class="fas fa-user-slash"></i></a>
                            </li>
                            <li><a href="#modalpsurvey" class="btn-floating tooltipped green darken-1 modal-trigger" data-position="left"
                                    data-tooltip="Post Survey"><i class="fas fa-poll-h"></i></a></li>
                            <li><a href="#modalpvoting" class="btn-floating tooltipped orange darken-1 modal-trigger"
                                    data-position="left" data-tooltip="Post Voting"><i class="fas fa-vote-yea"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
    </div>
</main>