<main>
        <div class="container">
        <h2 class="green-text text-darken-2">{{voting.votingTitle}}</h2>
        <div class="divider"></div><br /><br />
        <div class="row">
            <div class="col s9">
                <div class="my_voting_content">
                    <h6 class="light-blue-text text-darken-3"><strong>- Creation Date and Time:&nbsp; </strong>
                        {{formatDate
                        voting.createTime 'MMMM Do YYYY, h:mm:ss a'}}</h6><br />
                    <h6 class="light-blue-text text-darken-3"><strong>- Creator Name:&nbsp; </strong>
                        {{voting.user.firstName}}
                        {{voting.user.lastName}}</h6><br />
                    <h6 class="light-blue-text text-darken-3" style="text-align:justify"><strong>- Voting
                            Description:&nbsp;
                        </strong> {{voting.description}}</h6><br />
                    <h6 class="light-blue-text text-darken-3"><strong>- Estimated Voting Date:&nbsp; </strong>
                        {{voting.estimatedDate}}</h6><br />
                    <h6 class="light-blue-text text-darken-3"><strong>- Estimated Voting Time:&nbsp; </strong>
                        {{voting.estimatedTime}}</h6><br />
                    <h6 class="light-blue-text text-darken-3"><strong>- Estimated Voting Duration:&nbsp; </strong>
                        {{voting.estimatedDuration}} minutes</h6><br />
                    <h6 class="light-blue-text text-darken-3"><strong>- Expected Number of Participants:&nbsp; </strong>
                        {{voting.partyCount}}</h6><br />
                    <h6 class="light-blue-text text-darken-3"><strong>- Voting Options:&nbsp; </strong>
                        {{#each voting.options}}
                        {{serialNumber @index}}. {{this}}&nbsp;
                        {{/each}}
                    </h6><br />
                </div>
            </div>
            <div class="col s3">
                <h6 class="light-blue-text text-darken-3"><strong><i class="fas fa-users"></i> Registrants&nbsp;
                    </strong></h6><br />
                <div class="light-blue-text text-darken-3">
                        {{#each voting.participants}}
                        <div class="valign-wrapper">
                        {{serialNumber @index}}.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="circle"
                            src={{this.avatar}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/users/profile/{{this._id}}"
                            class="green-text text-darken-1"><u><strong>{{this.firstName}}
                                    {{this.lastName}}</strong></u></a>
                        </div><br />
                        {{/each}}
                </div><br />
            </div>
            <div class="row col s12">
                <!-- Add a blank line -->
            </div>
            <div class="row col s12">
                <!-- Add a blank line -->
            </div>
        </div>
    </div>
</main>