<main>
    <div class="container">
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="user_voting row z-depth-1">
            <div class="white">
                <h3 class="center cyan-text text-darken-2" style="padding-top: 35px;"><i class="far fa-hourglass"></i>&nbsp;
                    Voting In Preparation</h3><br />
                <div class="message_area" style="margin-left: 10px; margin-right: 10px;">
                    {{#if flash_success_message}}
                    <div class="success_msg">
                        <span class="closebtn-s" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{flash_success_message}}
                    </div>
                    {{/if}}
                    {{#if flash_error_message}}
                    <div class="error_msg">
                        <span class="closebtn-e" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{flash_error_message}}
                    </div>
                    {{/if}}
                </div>
                <div class="divider"></div>
            </div>
            <ul id="voting-tab" class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#create-voting"><span
                            class="purple-text text-darken-2"><strong>My
                                Creations</strong></span></a></li>
                <li class="tab"><a href="#register-voting"><span class="green-text text-darken-2"><strong>My
                                Registrations</strong></span></a></li>
            </ul>
            <div id="create-voting" class="col s12 cyan lighten-5">
                <div class="preparing-create">
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                    <div class="row">
                        {{#if myVoting1}}
                        {{#each myVoting1}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title cyan-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        95}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/voting/preparing/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any voting in preparation yet</p><br />
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="register-voting" class="col s12 green lighten-5">
                <div class="preparing-register">
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                    <div class="row">
                        {{#if myVoting2}}
                        {{#each myVoting2}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title cyan-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        95}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/voting/preparing/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">None of the voting that you registered are in preparation yet</p><br />
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
    </div>
</main>