<main>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="container">
        <div class="card white">
            <h3 style="padding-top: 35px; margin-right: 20px;" class="center yellow-text text-darken-2"><a
                    style="float: left; margin-top: 5px; margin-left: 20px;" href="/users/voting/published"
                    class="btn-floating waves-effect waves-light blue lighten-1"><i
                        class="fas fa-arrow-left"></i></a>{{voting.votingTitle}}</h3><br />
            <div class="message_area" style="margin-left: 10px; margin-right: 10px;">
                {{#if flash_success_message}}
                <div class="success_msg">
                    <span class="closebtn-s" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_success_message}}
                </div>
                {{/if}}
                {{#if flash_error_message}}
                <div class="error_msg">
                    <span class="closebtn-e" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_error_message}}
                </div>
                {{/if}}
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <div class="row">
                    <div class="col s9">
                        <h6 class="black-text"><strong>Creation Date and Time:&nbsp; </strong>
                            {{formatDate
                            voting.createTime 'MMMM Do YYYY, h:mm:ss a'}}</h6><br />
                        <h6 class="black-text"><strong>Creator Name:&nbsp; </strong>
                            {{voting.user.firstName}}
                            {{voting.user.lastName}}</h6><br />
                        <h6 class="black-text" style="text-align:justify; line-height: 1.5;">
                            <strong>Description:&nbsp;
                            </strong> {{voting.description}}
                        </h6><br />
                        <h6 class="black-text"><strong>Estimated Voting Date and Time:&nbsp; </strong>
                            {{voting.estimatedDate}}, {{voting.estimatedTime}}</h6><br />
                        <h6 class="black-text"><strong>Estimated Voting Duration:&nbsp; </strong>
                            {{voting.estimatedDuration}} minutes</h6><br />
                        <h6 class="black-text"><strong>Expected Number of Participants:&nbsp; </strong>
                            {{voting.partyCount}}</h6><br />
                        <h6 class="black-text" style="text-align:justify; line-height: 1.5;"><strong>Voting Options:&nbsp; </strong>
                            {{#each voting.options}}
                            {{serialNumber @index}}. {{this}}&nbsp;
                            {{/each}}
                        </h6><br />
                    </div>
                    <div class="col s3"
                        style="background-color: #e3f2fd; border-width: 2px; border-style: solid; border-color: #bbdefb; height: 400px; overflow: auto;">
                        <div class="row col s12">
                            <!-- Add a blank line -->
                        </div>
                        <h6 class="center light-blue-text text-darken-2"><strong><i class="fas fa-users"></i>
                                Registrants&nbsp;( {{voting.participants.length}} / {{voting.partyCount}} )
                            </strong></h6><br />
                        <div id="prompt_msg"></div><br />
                        <div class="light-blue-text text-darken-2">
                            {{#each voting.participants}}
                            <div class="row">
                                <div class="col s9">
                                    <div class="valign-wrapper">
                                        <strong id="reg-serialNum{{serialNumber @index}}">{{serialNumber @index}}.
                                        </strong><img style="margin-left: 20px; margin-right: 20px;" class="circle"
                                            src="{{this.avatar}}">
                                        <a href="/users/profile/{{this._id}}"
                                            class="teal-text text-darken-1"><u><strong>{{this.firstName}}
                                                    {{this.lastName}}</strong></u></a>
                                    </div>
                                </div>
                                <div class="col s3">
                                    <a href="#modal{{this._id}}" id="reg-remove-button{{serialNumber @index}}"
                                        class="btn-floating btn-small waves-effect waves-light red lighten-2 modal-trigger"
                                        disabled><i class="fas fa-times"></i></a>
                                    <div id="modal{{this._id}}" class="modal">
                                        <form id="reg-remove{{serialNumber @index}}"
                                            action="/users/voting/published/remove" method="POST">
                                            <div class="modal-content">
                                                <h4 class="light-blue-text text-darken-2 center">Confirm Removal</h4>
                                                <br />
                                                <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to
                                                        remove this registrant? Please enter your password to
                                                        confirm.</strong></h6>
                                                <br /><br />
                                                <input type="hidden" id="votingid3{{serialNumber @index}}"
                                                    name="votingid" required>
                                                <input type="hidden" id="regid{{serialNumber @index}}" name="regid"
                                                    value={{this._id}} required>
                                                <div class="row">
                                                    <div class="input-field col s6 offset-s3">
                                                        <input placeholder="Please enter here ..." type="password"
                                                            data-length="100"
                                                            id="password_check3{{serialNumber @index}}" name="password"
                                                            onblur="checkPwd()" onfocus="checkPwd()"
                                                            onchange="checkPwd()" required>
                                                        <label for="password">Password</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="divider"></div>
                                            <div class="modal-footer">
                                                <div class="col s6">
                                                    <a href="#"
                                                        class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                                </div>
                                                <div class="col s6">
                                                    <button class="modal-close waves-effect waves-green btn-flat"
                                                        id="remove-button{{serialNumber @index}}" type="submit"
                                                        disabled><strong>Yes</strong></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div><br />
                    </div>
                </div>
                <div class="hidden_inputs">
                    <input type="hidden" id="expected_num" value={{voting.partyCount}}>
                    <input type="hidden" id="reg_num" value={{voting.participants.length}}>
                </div>
                <div class="row col s12">
                    <!-- Add a blank line -->
                </div>
                <div class="row col s12">
                    <!-- Add a blank line -->
                </div>
                <div class="row col s12">
                    <!-- Add a blank line -->
                </div>
                <div class="row center">
                    <div class="col s6">
                        <a href="#modal1" id="published-cancel-button"
                            class="waves-effect waves-light blue lighten-1 btn modal-trigger"><strong>Cancel</strong></a>
                    </div>
                    <div class="col s6">
                        <a href="#modal2" id="consent-button"
                            class="waves-effect waves-light blue lighten-1 btn modal-trigger"
                            disabled><strong>Consent</strong></a>
                    </div>
                    <div id="modal1" class="modal">
                        <form id="published-cancel" action="/users/voting/published/cancel" method="POST">
                            <div class="modal-content">
                                <h4 class="light-blue-text text-darken-2 center">Confirm Cancel</h4><br />
                                <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to cancel this
                                        voting? Please enter your password to confirm.</strong></h6><br />
                                <h6 class="red-text center"><strong>(Please be informed that the status
                                        of this voting will change to <span
                                            class="brown-text text-darken-2">UNPUBLISHED</span>.)</strong></h6>
                                <br /><br />
                                <input type="hidden" id="votingid1" name="votingid" value={{voting._id}} required>
                                <div class="row">
                                    <div class="input-field col s6 offset-s3">
                                        <input placeholder="Please enter here ..." type="password" data-length="100"
                                            id="password_check1" name="password" onblur="checkPwd()"
                                            onfocus="checkPwd()" onchange="checkPwd()" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="modal-footer">
                                <div class="col s6">
                                    <a href="#"
                                        class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                </div>
                                <div class="col s6">
                                    <button class="modal-close waves-effect waves-green btn-flat" id="pcancel-button"
                                        type="submit" disabled><strong>Yes</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="modal2" class="modal">
                        <form id="published-consent" action="/users/voting/published/consent" method="POST">
                            <div class="modal-content">
                                <h4 class="light-blue-text text-darken-2 center">Confirm Consent</h4><br />
                                <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to consent
                                        this
                                        voting? Please enter your password to confirm.</strong></h6><br /><br />
                                <input type="hidden" id="votingid2" name="votingid" value={{voting._id}} required>
                                <div class="row">
                                    <div class="input-field col s6 offset-s3">
                                        <input placeholder="Please enter here ..." type="password" data-length="100"
                                            id="password_check2" name="password" onblur="checkPwd()"
                                            onfocus="checkPwd()" onchange="checkPwd()" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="modal-footer">
                                <div class="col s6">
                                    <a href="#"
                                        class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                </div>
                                <div class="col s6">
                                    <button class="modal-close waves-effect waves-green btn-flat" id="prepare-button"
                                        type="submit" disabled><strong>Yes</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><br />
            </div>
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
    </div>
</main>