<main>
    <div class="container">
        <h2 class="green-text text-darken-2">{{votingSession.voting.votingTitle}}</h2>
        <div class="divider"></div><br /><br />
        <div class="row">
            <div class="jiff_connection" style="display:none;">
                <div class="input-field col s12">
                    <input disabled value={{votingSession._id}}{{votingSession.voting._id}} id="voting_id" type="text"
                        class="voting_id">
                </div>
                <div class="input-field col s12">
                    <input disabled value={{userID}} id="voting_user_id" type="text" class="voting_user_id">
                </div>
                <div class="input-field col s12">
                    <input disabled value={{votingSession.voting.partyCount}} id="voting_partycount" type="text"
                        class="voting_partycount">
                </div>
                <div class="input-field col s12">
                    <input disabled value={{votingSession.voting.participants}} id="voting_people" type="text"
                        class="voting_people">
                </div>
                <div class="input-field col s12">
                    <input disabled id="my_party_id" type="text" class="my_party_id">
                </div>
                <div class="input-field col s12">
                    <input disabled value={{votingSession.publicKey}} id="public_key" type="text" class="public_key">
                </div>
                <div class="input-field col s12">
                    <input disabled value={{votingSession.privateKey}} id="secret_key" type="text" class="secret_key">
                </div>
                <div class="input-field col s12">
                    <input disabled value="{{votingSession.voting.options}}" id="voting_options" type="text"
                        class="voting_options">
                </div>
            </div>
        </div>
        <div class="row center">
            <h6 class="red-text"><strong>*** Please do not leave this page. Otherwise, the voting
                    will be automatically canceled. ***</strong></h6>
        </div><br />
        <div class="row">
            <div class="col s9">
                <h6 class="light-blue-text text-darken-3"><strong>- Step 1. Vote and Wait for Other
                        Participants</strong></h6><br /><br />
                <div class="voting_content">
                    <div class="valign-wrapper">
                        <h6 class="light-blue-text text-darken-3" style="text-align:justify"><strong>1)
                                Voting Initator:</strong></h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="circle"
                            src={{votingSession.initiator.avatar}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="green-text text-darken-1"><strong>{{votingSession.initiator.firstName}}
                                {{votingSession.initiator.lastName}}</strong></a>
                    </div><br /><br />
                    <h6 class="light-blue-text text-darken-3" style="text-align:justify"><strong>2) Question:&nbsp;
                        </strong> {{votingSession.voting.description}} (Please select one of the following options)</h6>
                    <br /><br />
                    {{#each votingSession.voting.options}}
                    <label>
                        <input class="with-gap" name="options" type="radio" />
                        <span><strong>{{this}}</strong></span>
                    </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{/each}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="confirmButton"
                        class="btn waves-effect waves-light blue lighten-1" onclick="confirmChoice()"><strong>Confirm My
                            Choice</strong></button>
                </div>
            </div>
            <div class="col s3">
                <h6 class="light-blue-text text-darken-3"><strong><i class="fas fa-users"></i> Submitters (Except
                        Yourself)&nbsp;
                    </strong></h6><br />
                <div class="submitters">
                    <div class="light-blue-text text-darken-3">
                        {{#each votingSession.submitters}}
                        <div class="valign-wrapper">
                            {{serialNumber @index}}.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="circle"
                                src={{this.avatar}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="green-text text-darken-1"><strong>{{this.firstName}}
                                    {{this.lastName}}</strong></a>
                        </div><br />
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="divider"></div><br /><br />
        <h6 class="red-text text-darken-3"><strong>- Step 2. Finish the Voting After All Participants
                Submitting</strong></h6><br /><br />
        <div class="row center">
            <form id="initiator_compute" action="/users/voting/initiator_finish" method="POST">
                <input value={{votingSession._id}} type="hidden" id="sessionid" name="sessionid" class="sessionid">
                <input value={{votingSession.voting._id}} type="hidden" id="votingid" name="votingid" class="votingid">
                <input type="hidden" id="result" name="result" class="result">
                <div class="row center">
                    <div class="col s6">
                        <a href="/users/dashboard" id="cancel-button"
                            class="btn waves-effect waves-light blue lighten-1"><strong>Cancel Voting</strong></a>
                    </div>
                    <div class="col s6">
                        <button class="btn waves-effect waves-light blue lighten-1" id="initiatorSubmit" type="submit"
                            disabled><strong>Finish Voting</strong></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>