<main>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="container">
        <div class="card white">
            <h3 style="padding-top: 35px;" class="light-blue-text text-darken-2 center"><i class="far fa-bell"></i>
                Notifications</h3><br />
            <div class="message_area" style="margin-left: 10px; margin-right: 10px;">
                {{#if flash_success_message}}
                <div class="success_msg">
                    <span class="closebtn-s" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_success_message}}
                </div>
                {{/if}}
                {{#if flash_error_message}}
                <div class="error_msg">
                    <span class="closebtn-e" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_error_message}}
                </div>
                {{/if}}
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <div style="height: 400px; overflow: auto;" class="row">
                    {{#if notifications1}}
                    {{#each notifications1}}
                    <div class="col s12 m12">
                        <div class="card grey lighten-5 hoverable">
                            <div class="card-content">
                                <div class="valign-wrapper">
                                    <span class="light-blue-text text-darken-2">Notification from </span><img
                                        style="margin-left: 10px; margin-right: 10px;" class="circle"
                                        src="{{sender.avatar}}"><a href="/users/profile/{{sender._id}}"
                                        class="light-blue-text text-darken-2"><u>{{sender.firstName}}
                                            {{sender.lastName}}</u>:</a><span class="new badge red darken-1"
                                        data-badge-caption="!">New</span>
                                </div><br />
                                <p class="grey-text text-darken-2">{{formatDate emitTime 'MMMM Do YYYY, h:mm:ss a'}}</p>
                                <br />
                                <p style="text-align: justify;" class="black-text">{{content}}</p>
                            </div>
                            <div class="card-action">
                                <div class="center">
                                    {{#if relatedVoting}}
                                    <a href="/users/voting/{{relatedVoting.status}}/view/{{relatedVoting._id}}"><strong><i
                                                class="far fa-hand-point-right"></i> Go to Finish</strong></a>
                                    {{else}}
                                    <a href="/users/surveys/{{relatedSurvey.status}}/view/{{relatedSurvey._id}}"><strong><i
                                                class="far fa-hand-point-right"></i> Go to Finish</strong></a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                    {{else}}
                    <div class="row">
                        <h4 class="center light-blue-text text-darken-2"><i class="far fa-bell-slash"></i></h4>
                        <h6 class="center black-text">You have not received any new notifications</h6>
                    </div><br />
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="user_voting row z-depth-1">
            <div class="center white">
                <h3 class="light-blue-text text-darken-2" style="padding-top: 35px;"><i
                        class="fas fa-vote-yea"></i>&nbsp;Voting</h3><br />
                <div class="divider"></div>
            </div>
            <ul id="voting-tabs" class="tabs tabs-fixed-width">
                <li class="tab"><a href="#unpublished-voting"><span
                            class="brown-text text-darken-2"><strong>Unpublished</strong></span></a></li>
                <li class="tab"><a href="#published-voting"><span
                            class="yellow-text text-darken-2"><strong>Published</strong></span></a></li>
                <li class="tab"><a href="#preparing-voting"><span
                            class="cyan-text text-darken-2"><strong>Preparing</strong></span></a></li>
                <li class="tab"><a class="active" href="#initiating-voting"><span
                            class="green-text text-darken-2"><strong>Initiating</strong></span></a></li>
                <li class="tab"><a href="#expired-voting"><span
                            class="red-text text-darken-2"><strong>Expired</strong></span></a></li>
            </ul>
            <div id="unpublished-voting" class="col s12 brown lighten-5">
                <div class="unpublished">
                    <div class="row">
                        <div class="row col s12">
                            <!-- Add a blank line -->
                        </div>
                        {{#if myVoting1}}
                        {{#each myVoting1}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title brown-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate
                                        description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="left"><a href="/users/voting/unpublished/edit/{{_id}}"><strong><i
                                                    class="far fa-edit"></i>
                                                Edit</strong></a></div>
                                    <div class="right"><a href="/users/voting/unpublished/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div><br />
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">Please use &nbsp;<a href="/users/voting/unpublished/create"><span
                                    class="light-blue-text text-darken-1"><i class="fas fa-edit"></i> Voting
                                    Creator</span></a>&nbsp; to create the voting</p>
                        <br />
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="published-voting" class="col s12 yellow lighten-5">
                <div class="published">
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="purple-text text-darken-2">1.&nbsp;My Creations</h6>
                        <br />
                        {{#if myVoting21}}
                        {{#each myVoting21}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title yellow-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate
                                        description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="left"><a href="/users/voting/published/edit/{{_id}}"><strong><i
                                                    class="far fa-edit"></i>
                                                Edit</strong></a></div>
                                    <div class="right"><a href="/users/voting/published/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div><br />
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any published voting yet</p><br />
                        {{/if}}
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="green-text text-darken-2">2.&nbsp;My Registrations</h6>
                        <br />
                        {{#if myVoting22}}
                        {{#each myVoting22}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title yellow-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate
                                        description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/voting/published/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any registrations for the voting yet</p><br />
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="preparing-voting" class="col s12 cyan lighten-5">
                <div class="preparing">
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="purple-text text-darken-2">1.&nbsp;My Creations</h6>
                        <br />
                        {{#if myVoting31}}
                        {{#each myVoting31}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title cyan-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/voting/preparing/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any voting in preparation yet</p><br />
                        {{/if}}
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="green-text text-darken-2">2.&nbsp;My Registrations</h6>
                        <br />
                        {{#if myVoting32}}
                        {{#each myVoting32}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title cyan-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/voting/preparing/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">None of the voting that you registered are in preparation yet</p><br />
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="initiating-voting" class="col s12 green lighten-5">
                <div class="initiating">
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="purple-text text-darken-2">1.&nbsp;My Creations</h6>
                        <br />
                        {{#if myVoting41}}
                        {{#each myVoting41}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title green-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/voting/initiating/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any initiating voting yet</p><br />
                        {{/if}}
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="green-text text-darken-2">2.&nbsp;My Registrations</h6>
                        <br />
                        {{#if myVoting42}}
                        {{#each myVoting42}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title green-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/voting/initiating/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">None of the voting that you registered are being initiated yet</p><br />
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="expired-voting" class="col s12 red lighten-5">
                <div class="expired">
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="purple-text text-darken-2">1.&nbsp;My Creations</h6>
                        <br />
                        {{#if myVoting51}}
                        {{#each myVoting51}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title red-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/voting/expired/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any expired voting yet</p><br />
                        {{/if}}
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="green-text text-darken-2">2.&nbsp;My Registrations</h6>
                        <br />
                        {{#if myVoting52}}
                        {{#each myVoting52}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title red-text text-darken-2"><strong>{{truncate
                                            votingTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/voting/expired/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">None of the voting that you registered are expired yet</p><br />
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="user_survey row z-depth-1">
            <div class="center white">
                <h3 class="light-blue-text text-darken-2" style="padding-top: 35px;"><i
                        class="fas fa-poll-h"></i>&nbsp;Survey</h3><br />
                <div class="divider"></div>
            </div>
            <ul id="survey-tabs" class="tabs tabs-fixed-width">
                <li class="tab"><a href="#unpublished-survey"><span
                            class="brown-text text-darken-2"><strong>Unpublished</strong></span></a></li>
                <li class="tab"><a href="#published-survey"><span
                            class="yellow-text text-darken-2"><strong>Published</strong></span></a></li>
                <li class="tab"><a href="#preparing-survey"><span
                            class="cyan-text text-darken-2"><strong>Preparing</strong></span></a></li>
                <li class="tab"><a class="active" href="#initiating-survey"><span
                            class="green-text text-darken-2"><strong>Initiating</strong></span></a></li>
                <li class="tab"><a href="#expired-survey"><span
                            class="red-text text-darken-2"><strong>Expired</strong></span></a></li>
            </ul>
            <div id="unpublished-survey" class="col s12 brown lighten-5">
                <div class="unpublished">
                    <div class="row">
                        <div class="row col s12">
                            <!-- Add a blank line -->
                        </div>
                        {{#if mySurveys1}}
                        {{#each mySurveys1}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title brown-text text-darken-2"><strong>{{truncate
                                            surveyTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate
                                        description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="left"><a href="/users/surveys/unpublished/edit/{{_id}}"><strong><i
                                                    class="far fa-edit"></i>
                                                Edit</strong></a></div>
                                    <div class="right"><a href="/users/surveys/unpublished/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div><br />
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">Please use &nbsp;<a href="/users/surveys/unpublished/create"><span
                                    class="light-blue-text text-darken-1"><i class="fas fa-edit"></i> Survey
                                    Creator</span></a>&nbsp; to create a survey</p>
                        <br />
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="published-survey" class="col s12 yellow lighten-5">
                <div class="published">
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="purple-text text-darken-2">1.&nbsp;My Creations</h6>
                        <br />
                        {{#if mySurveys21}}
                        {{#each mySurveys21}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title yellow-text text-darken-2"><strong>{{truncate
                                            surveyTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate
                                        description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="left"><a href="/users/surveys/published/edit/{{_id}}"><strong><i
                                                    class="far fa-edit"></i>
                                                Edit</strong></a></div>
                                    <div class="right"><a href="/users/surveys/published/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div><br />
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any published survey yet</p><br />
                        {{/if}}
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="green-text text-darken-2">2.&nbsp;My Registrations</h6>
                        <br />
                        {{#if mySurveys22}}
                        {{#each mySurveys22}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title yellow-text text-darken-2"><strong>{{truncate
                                            surveyTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate
                                        description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/surveys/published/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any registrations for the surveys yet</p><br />
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="preparing-survey" class="col s12 cyan lighten-5">
                <div class="preparing">
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="purple-text text-darken-2">1.&nbsp;My Creations</h6>
                        <br />
                        {{#if mySurveys31}}
                        {{#each mySurveys31}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title cyan-text text-darken-2"><strong>{{truncate
                                            surveyTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/surveys/preparing/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any survey in preparation yet</p><br />
                        {{/if}}
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="green-text text-darken-2">2.&nbsp;My Registrations</h6>
                        <br />
                        {{#if mySurveys32}}
                        {{#each mySurveys32}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title cyan-text text-darken-2"><strong>{{truncate
                                            surveyTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/surveys/preparing/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">None of the surveys that you registered are in preparation yet</p><br />
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="initiating-survey" class="col s12 green lighten-5">
                <div class="initiating">
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="purple-text text-darken-2">1.&nbsp;My Creations</h6>
                        <br />
                        {{#if mySurveys41}}
                        {{#each mySurveys41}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title green-text text-darken-2"><strong>{{truncate
                                            surveyTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/surveys/initiating/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any initiating survey yet</p><br />
                        {{/if}}
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="green-text text-darken-2">2.&nbsp;My Registrations</h6>
                        <br />
                        {{#if mySurveys42}}
                        {{#each mySurveys42}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title green-text text-darken-2"><strong>{{truncate
                                            surveyTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/surveys/initiating/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">None of the surveys that you registered are being initiated yet</p><br />
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="expired-survey" class="col s12 red lighten-5">
                <div class="expired">
                    <div class="row col s12">
                        <!-- Add a blank line -->
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="purple-text text-darken-2">1.&nbsp;My Creations</h6>
                        <br />
                        {{#if mySurveys51}}
                        {{#each mySurveys51}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title red-text text-darken-2"><strong>{{truncate
                                            surveyTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/surveys/expired/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">You do not have any expired survey yet</p><br />
                        {{/if}}
                    </div>
                    <div class="row">
                        <h6 style="padding-left: 10px;" class="green-text text-darken-2">2.&nbsp;My Registrations</h6>
                        <br />
                        {{#if mySurveys52}}
                        {{#each mySurveys52}}
                        <div class="col s12 m4">
                            <div class="card grey lighten-5 hoverable">
                                <div class="card-content">
                                    <span class="center card-title red-text text-darken-2"><strong>{{truncate
                                            surveyTitle
                                            32}}</strong></span><br />
                                    <p><i class="far fa-calendar-check"></i> &nbsp;{{formatDate createTime 'MMMM Do
                                        YYYY,
                                        h:mm:ss a'}}</p><br />
                                    <p style="text-align:justify"><strong>Description: </strong>{{truncate description
                                        90}}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="center"><a href="/users/surveys/expired/view/{{_id}}"><strong><i
                                                    class="far fa-file-alt"></i> View</strong></a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{else}}
                        <p class="center">None of the surveys that you registered are expired yet</p><br />
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
</main>