<main>
    <div class="container">
        <h2 class="light-blue-text text-darken-3">My Personal Profile</h2>
        <div class="divider"></div><br /><br />
        <div class="my_profile_content">
                <h6 class="light-blue-text text-darken-3"><strong>- Avatar:&nbsp;&nbsp; </strong><img class="circle" src={{avatar}} style="vertical-align:middle"></h6><br />
                <h6 class="light-blue-text text-darken-3"><strong>- Name:&nbsp; </strong> {{firstName}} {{lastName}}</h6><br />
                <h6 class="light-blue-text text-darken-3"><strong>- Registration Time:&nbsp; </strong> {{registerTime}}</h6><br />
                <h6 class="light-blue-text text-darken-3"><strong>- Gender:&nbsp; </strong> {{gender}}</h6><br />
                <h6 class="light-blue-text text-darken-3"><strong>- Birthday:&nbsp; </strong> {{birthday}}</h6><br />
                <h6 class="light-blue-text text-darken-3"><strong>- Career:&nbsp; </strong> {{career}}</h6><br />
                <h6 class="light-blue-text text-darken-3"><strong>- E-mail Address:&nbsp; </strong> {{email}}</h6><br />
                <h6 class="light-blue-text text-darken-3" style="text-align:justify;"><strong>- Self-Introduction:&nbsp; </strong> {{description}}</h6><br />
                <h6 class="light-blue-text text-darken-3">Edit function is stilling in developing</h6><br />
        </div>
    </div>
</main>