<main>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="container">
        <div class="card white">
            <h3 style="padding-top: 35px;" class="light-blue-text text-darken-2 center"><i class="far fa-bell"></i>
                Notifications</h3><br />
            <div class="message_area" style="margin-left: 10px; margin-right: 10px;">
                {{#if flash_success_message}}
                <div class="success_msg">
                    <span class="closebtn-s" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_success_message}}
                </div>
                {{/if}}
                {{#if flash_error_message}}
                <div class="error_msg">
                    <span class="closebtn-e" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_error_message}}
                </div>
                {{/if}}
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <div style="height: 800px; overflow: auto;" class="row">
                    {{#if notifications1}}
                    {{#each notifications1}}
                    <div class="col s12 m12">
                        <div class="card grey lighten-5 hoverable">
                            <div class="card-content">
                                <div class="valign-wrapper">
                                    <span class="light-blue-text text-darken-2">Notification from </span><img
                                        style="margin-left: 10px; margin-right: 10px;" class="circle"
                                        src="{{sender.avatar}}"><a href="/users/profile/{{sender._id}}"
                                        class="light-blue-text text-darken-2"><u>{{sender.firstName}}
                                            {{sender.lastName}}</u>:</a><span class="new badge red darken-1"
                                        data-badge-caption="!">New</span>
                                </div><br />
                                <p class="grey-text text-darken-2">{{formatDate emitTime 'MMMM Do YYYY, h:mm:ss a'}}</p>
                                <br />
                                <p style="text-align: justify;" class="black-text">{{content}}</p>
                            </div>
                            <div class="card-action">
                                <div class="center">
                                    {{#if relatedVoting}}
                                    <a href="/users/voting/{{relatedVoting.status}}/view/{{relatedVoting._id}}"><strong><i
                                                class="far fa-hand-point-right"></i> Go to Finish</strong></a>
                                    {{else}}
                                    <a href="/users/survey/{{relatedSurvey.status}}/view/{{relatedSurvey._id}}"><strong><i
                                                class="far fa-hand-point-right"></i> Go to Finish</strong></a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                    {{else}}
                    <div class="row">
                        <h4 class="center light-blue-text text-darken-2"><i class="far fa-bell-slash"></i></h4>
                        <h6 class="center black-text">You have not received any new notifications</h6>
                    </div><br />
                    {{/if}}

                    {{#if notifications2}}
                    {{#each notifications2}}
                    <div class="col s12 m12">
                        <div class="card grey lighten-5 hoverable">
                            <div class="card-content">
                                <div class="valign-wrapper">
                                    <span class="light-blue-text text-darken-2">Notification from </span><img
                                        style="margin-left: 10px; margin-right: 10px;" class="circle"
                                        src="{{sender.avatar}}"><a href="/users/profile/{{sender._id}}"
                                        class="light-blue-text text-darken-2"><u>{{sender.firstName}}
                                            {{sender.lastName}}</u>:</a>
                                </div><br />
                                <p class="grey-text text-darken-2">{{formatDate emitTime 'MMMM Do YYYY, h:mm:ss a'}}</p>
                                <br />
                                <p class="black-text">{{content}}</p>
                            </div>
                            <div class="card-action">
                                <div class="left">
                                    <p>
                                        <label>
                                            <input type="checkbox" checked="checked" disabled="disabled" />
                                            <span>Expired</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="right">
                                    <a href="#modal{{_id}}" class="modal-trigger"><strong><i
                                                class="far fa-trash-alt"></i> Delete</strong></a>
                                </div>
                            </div><br />
                            <div id="modal{{_id}}" class="modal">
                                <form action="/users/notifications/delete" method="POST">
                                    <input type="hidden" id="expired_noticeid{{serialNumber @index}}" name="noticeid"
                                        value={{_id}}>
                                    <div class="modal-content">
                                        <h4 class="light-blue-text text-darken-2 center">Confirm Deletion</h4><br />
                                        <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to delete
                                                this
                                                notification? Please confirm it again.</strong></h6>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="modal-footer">
                                        <div class="col s6">
                                            <a href="#"
                                                class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                        </div>
                                        <div class="col s6">
                                            <button class="modal-close waves-effect waves-green btn-flat" id="submit"
                                                type="submit"><strong>Yes</strong></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
</main>