<main>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card white">
                    <h3 style="padding-top: 35px;" class="center light-blue-text text-darken-2"><i
                            class="fas fa-id-badge"></i>&nbsp; User Profile</h3>
                    <br />
                    <div class="message_area" style="margin-left: 10px; margin-right: 10px;">
                        {{#if flash_success_message}}
                        <div class="success_msg">
                            <span class="closebtn-s" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{flash_success_message}}
                        </div>
                        {{/if}}
                        {{#if flash_error_message}}
                        <div class="error_msg">
                            <span class="closebtn-e" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{flash_error_message}}
                        </div>
                        {{/if}}
                    </div>
                    <div class="divider"></div>
                    <div class="card-content">
                        <div class="center">
                            <h6 class="light-blue-text text-darken-3"><img class="circle" src={{profile.avatar}}
                                    style="vertical-align:middle"></h6>
                            <h6 class="light-blue-text text-darken-3"><strong>{{profile.firstName}} {{profile.lastName}}</strong></h6>
                        </div><br />
                        <div class="row">
                            <div class="col s6 center">
                                <h6 class="black-text center" style="margin-top: 20px;"><strong>Voting</strong></h6>
                                <h3 class="black-text center" style="margin-top: 10px;">
                                    <strong>{{votingCount}}</strong>
                                </h3>
                            </div>
                            <div class="col s6">
                                <h6 class="black-text center" style="margin-top: 20px;"><strong>Surveys</strong></h6>
                                <h3 class="black-text center" style="margin-top: 10px;">
                                    <strong>{{surveyCount}}</strong>
                                </h3>
                            </div>
                        </div><br />
                        <h6 class="black-text"><strong>E-mail Address:&nbsp; </strong> {{profile.email}}</h6><br />
                        <h6 class="black-text"><strong>Gender:&nbsp; </strong> {{profile.gender}}</h6><br />
                        <h6 class="black-text"><strong>Birthday:&nbsp; </strong> {{profile.birthday}}</h6><br />
                        <h6 class="black-text"><strong>Career:&nbsp; </strong> {{profile.career}}</h6><br />
                        <h6 class="black-text" style="text-align:justify; line-height: 1.5;">
                            <strong>Self-Introduction:&nbsp;
                            </strong> {{profile.description}}
                        </h6><br />
                    </div>
                    <br />
                </div>
            </div>
        </div> 
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
    </div>
</main>