<main>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="row col s12">
        <!-- Add a blank line -->
    </div>
    <div class="container">
        <div class="card white">
            <h3 style="padding-top: 35px; margin-right: 20px;" class="center yellow-text text-darken-2"><a
                    style="float: left; margin-top: 5px; margin-left: 20px;" href="{{#if group2}}/community/groups/view/{{group2._id}}{{else}}/community/topics/view/{{topic._id}}{{/if}}"
                    class="btn-floating waves-effect waves-light blue lighten-1"><i
                        class="fas fa-arrow-left"></i></a>{{survey.surveyTitle}}</h3><br />
            <div class="message_area" style="margin-left: 10px; margin-right: 10px;">
                {{#if flash_success_message}}
                <div class="success_msg">
                    <span class="closebtn-s" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_success_message}}
                </div>
                {{/if}}
                {{#if flash_error_message}}
                <div class="error_msg">
                    <span class="closebtn-e" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{flash_error_message}}
                </div>
                {{/if}}
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <div class="row">
                    <div class="col s9">
                        <h6>
                            <div class="valign-wrapper">
                                <strong class="black-text">Survey Creator: </strong><img
                                    style="margin-left: 20px; margin-right: 20px;" class="circle"
                                    src="{{survey.user.avatar}}">
                                <a href="/users/profile/{{survey.user._id}}"
                                    class="light-blue-text text-darken-2"><u><strong>{{survey.user.firstName}}
                                            {{survey.user.lastName}}</strong></u></a>
                            </div>
                        </h6><br />
                        <h6 class="black-text" style="text-align:justify; line-height: 1.5;">
                            <strong>Description:&nbsp;
                            </strong> {{survey.description}}
                        </h6><br />
                        <h6 class="black-text"><strong>Survey Pattern:&nbsp; </strong>
                            {{#ifEquals survey.pattern "Participate"}}
                            Participant Pattern
                            {{/ifEquals}}
                            {{#ifEquals survey.pattern "Collect"}}
                            Collector Pattern
                            {{/ifEquals}}
                        </h6><br />
                        <h6 class="black-text"><strong>Estimated Survey Date and Time:&nbsp; </strong>
                            {{survey.estimatedDate}}, {{survey.estimatedTime}}</h6><br />
                        <h6 class="black-text"><strong>Estimated Survey Duration:&nbsp; </strong>
                            {{survey.estimatedDuration}} minutes</h6><br />
                        <h6 class="black-text"><strong>Expected Number of Participants:&nbsp; </strong>
                            {{survey.partyCount}}</h6><br />
                        <h6 class="black-text"><strong>Composition of Questions:&nbsp;
                            </strong>{{survey.radioQuestions.length}} single-select question(s),
                            {{survey.checkboxQuestions.length}} multi-select question(s) and
                            {{survey.inputQuestions.length}} fill in the blank question(s)</h6><br />
                    </div>
                    <div class="col s3"
                        style="background-color: #e3f2fd; border-width: 2px; border-style: solid; border-color: #bbdefb; height: 400px; overflow: auto;">
                        <div class="row col s12">
                            <!-- Add a blank line -->
                        </div>
                        <h6 class="center light-blue-text text-darken-2"><strong><i class="fas fa-users"></i>
                                Registrants&nbsp;( {{survey.participants.length}} / {{survey.partyCount}} )
                            </strong></h6><br />
                        <div id="prompt_msg2"></div><br />
                        <div class="light-blue-text text-darken-2">
                            {{#each survey.participants}}
                            <div class="row">
                                <div class="col s12">
                                    <div class="valign-wrapper">
                                        <strong id="reg-serialNum{{serialNumber @index}}">{{serialNumber @index}}.
                                        </strong><img style="margin-left: 20px; margin-right: 20px;" class="circle"
                                            src="{{this.avatar}}">
                                        <a href="/users/profile/{{this._id}}"
                                            class="teal-text text-darken-1"><u><strong>{{this.firstName}}
                                                    {{this.lastName}}</strong></u></a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div><br />
                    </div>
                </div>
                <div class="hidden_inputs">
                    <input type="hidden" id="all_participants"
                        value="{{#each survey.participants}}{{this._id}},{{/each}}">
                    <input type="hidden" id="user_id" value="{{userID}}">
                    <input type="hidden" id="expected_num" value={{survey.partyCount}}>
                </div>
                <div class="row col s12">
                    <!-- Add a blank line -->
                </div>
                <div class="row col s12">
                    <!-- Add a blank line -->
                </div>
                <div class="row col s12">
                    <!-- Add a blank line -->
                </div>
                <div class="row center">
                    <div class="col s6">
                        <a href="#modal1" id="published-unreg-button"
                            class="waves-effect waves-light blue lighten-1 btn modal-trigger"
                            disabled><strong>Unregister</strong></a>
                    </div>
                    <div class="col s6">
                        <a href="#modal2" id="published-reg-button"
                            class="waves-effect waves-light blue lighten-1 btn modal-trigger"
                            disabled><strong>Register</strong></a>
                    </div>
                    <div id="modal1" class="modal">
                        <form id="published-unregister" action="/users/surveys/published/unregister" method="POST">
                            <div class="modal-content">
                                <h4 class="light-blue-text text-darken-2 center">Confirm Unregistration</h4><br />
                                <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to unregister this
                                        survey? Please enter your password to confirm.</strong></h6><br /><br />
                                <input type="hidden" id="surveyidval1" name="surveyid" value={{survey._id}} required>
                                <div class="row">
                                    <div class="input-field col s6 offset-s3">
                                        <input placeholder="Please enter here ..." type="password" data-length="100"
                                            id="password_check1" name="password" onblur="checkPwd()"
                                            onfocus="checkPwd()" onchange="checkPwd()" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="modal-footer">
                                <div class="col s6">
                                    <a href="#"
                                        class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                </div>
                                <div class="col s6">
                                    <button class="modal-close waves-effect waves-green btn-flat" id="punreg-button"
                                        type="submit" disabled><strong>Yes</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="modal2" class="modal">
                        <form id="published-register" action="/users/surveys/published/register" method="POST">
                            <div class="modal-content">
                                <h4 class="light-blue-text text-darken-2 center">Confirm Registration</h4><br />
                                <h6 class="light-blue-text text-darken-2 center"><strong>Are you sure to register
                                        this
                                        survey? Please enter your password to confirm.</strong></h6><br /><br />
                                <input type="hidden" id="surveyidval2" name="surveyid" value={{survey._id}} required>
                                <div class="row">
                                    <div class="input-field col s6 offset-s3">
                                        <input placeholder="Please enter here ..." type="password" data-length="100"
                                            id="password_check2" name="password" onblur="checkPwd()"
                                            onfocus="checkPwd()" onchange="checkPwd()" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="modal-footer">
                                <div class="col s6">
                                    <a href="#"
                                        class="modal-close waves-effect waves-red btn-flat"><strong>No</strong></a>
                                </div>
                                <div class="col s6">
                                    <button class="modal-close waves-effect waves-green btn-flat" id="register-button"
                                        type="submit" disabled><strong>Yes</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><br />
            </div>
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
        <div class="row col s12">
            <!-- Add a blank line -->
        </div>
    </div>
</main>